@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

div {
    border-left-width: 8px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

body {
    background-color: #1a1e23;
}

p {
    font-size: 1em;
}

h1 {
    color: #f15bb5;
    font-family: 'Press Start 2P';
}

.bluetext {
    color:#00bbf9;
    font-family: 'Verdana';
}

.pinktext {
    color: #f15bb5;
    font-family: 'Verdana';
}

