body {
    background-image: url('bg01.jpg');

    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: grey 2px 2px 10px;
  }
  
div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
img {
    height: auto;
    width: 20%;
    border: 3px solid black;
    border-radius: 20px;
    display: block;
    margin: 0 0.5rem;
  }

.shadow-dance-text {
    font-size: 4rem;
    color: #000000;
    text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    }
    50% {
        text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
    }
}

.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  